<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Movie API</h1>
<div>
    <h3> GET 요청 {{url}}:{{port}}/movies </h3>
    <p> 영화리스트 가져옴 </p>
</div>
<div>
    <h3> GET 요청 {{url}}:{{port}}/movies/:id </h3>
    <p> 영화 세부 정보 </p>
</div>
<div>
    <h3>POST 요청 {{url}}:{{port}}/movies</h3>
    <p> 영화 추가 </p>
</div>
<div>
    <h3>DELETE 요청 {{url}}:{{port}}/movies/:id</h3>
    <p>영화 삭제</p>
</div>
<div>
    <h3>PUT 요청 {{url}}:{{port}}/movies/:id</h3>
    <p>영화 수정</p>
</div>
</body>
</html>
